.board {
    width: 100%;
    display: flex;
    flex: 1;

    &-header {
        color: aqua;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 30px;
    }

    &-content {
        display: flex;
    }
}