.btnAdd,
.btnBoard {
    display: flex;
    justify-content: start;
    font-size: 20px;
    color: #fff;
}

.btnAdd {
    justify-content: space-between;
}

.btnAddColumnTask {
    display: flex;
    justify-content: start;
    font-size: 20px;
    color: #2e2a2a;
}