.btnAdd,
.btnBoard {
    display: flex;
    justify-content: start;
    font-size: 20px;
    color: #fff;
}

.btnAdd {
    justify-content: space-between;
}

.btnAddColumnTask {
    display: flex;
    justify-content: start;
    font-size: 15px;
    color: #2e2a2a;
    margin-top: 15px;

    &-icon {
        margin-right: 7px;
    }
}

.task-btn {
    width: 90%;
    cursor: pointer;
}

.column-btn {
    width: 180px;
}

.button-color {
    width: 10px;
    height: 10px;
    padding: 20px 40px;
    border-radius: 10px;
    margin-right: 3px;
    margin-bottom: 3px;
}